<div class="list-group mb-5">
        {% for item in categories %}
        <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">{{ item.title }}
            <span class="badge bg-primary rounded-pill m-2">{{ categories.count }}</span>
        </a>

        {% endfor %}
</div>


{% comment %}
<!--Способ получения ссылки № 1-->
<!--{% url 'category' item.pk %} url - это темплейт тег для построения маршрута (ссылки)-->

<!--Способ получения ссылки № 2-->
<!--{{ item.get_absolute_url }} get_absolute_url - это метод построения маршрута определенный в Моделе Категория.-->
{% endcomment %}