#header{
    background: #1d3e79;
}

.module h2, .module caption, .inline-group h2{
    background: #1d3e79;
}

div.breadcrumbs{
    background: #2e5eb3;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #fafafa;
}
