html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

.body-entrance {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="login"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.errorlist {
    color: #ba2121;
    list-style-type: none;
}

.bd-callout + .bd-callout {
    margin-top: -.25rem;
}

.bd-callout {
    background-color: white;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-left-color: #5bc0de;
    border-radius: .25rem;
}

.doc_save {
    color: white;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.page-link:hover {
    z-index: 2;
    color: #5bc0de;
    background-color: #e9ecef;
    border-color: #dee2e6;
}